<mat-selection-list *ngFor="let category of content?.categoryItems">
  <div mat-subheader>{{category.category}}</div>
  <div *ngFor="let item of category.items"
       class="list-item-wrapper">
    <mat-list-option
      (click)="handleRowEvent('click', item, category.index)"
      [class.slide-reveal]="openItems.includes(item._id)"
      [disabled]="!isTouchDevice && rowDebounce.includes(item._id)"
      [selected]="item.status === 'done'"
      checkboxPosition="before">
      <mat-icon mat-list-icon (click)="handleRowEvent('swipeLeft', item)">more_vert</mat-icon>
      <div>{{item.details.title}}</div>
      <div>{{item.details.description}}</div>
    </mat-list-option>
    <div [class.show-actions]="openItems.includes(item._id)" class="row-actions">
      <div class="item full-width bg-danger" matRipple>
        <mat-icon>delete</mat-icon>
      </div>
      <div class="item full-width bg-success" matRipple>
        <mat-icon>reorder</mat-icon>
      </div>
    </div>
  </div>
</mat-selection-list>
