<app-sidebar [(state)]="state" [toolbarTitle]="activeList">
  <!-- inject body content here -->
  <button (click)="onCancelEdit()"
          *ngIf="state==='edit'"
          aria-label="Example icon button with a delete icon"
          class="fab"
          color="primary"
          mat-fab>
    <mat-icon>clear</mat-icon>
  </button>
  <h1 *ngIf="!id">Please select or create a list</h1>
  <h1 *ngIf="id && !displayList">Hmm... We can't find that list</h1>

  <!--  check list - readonly  -->
  <div *ngIf="state==='readonly'; else edit">
    <app-display-list (checkChange)="this.updateListItems($event.item, $event.categoryIndex)"
                      (moveItem)="onMoveItem($event.item, $event.newCategoryIndex, $event.oldCategoryIndex)"
                      (removeItem)="removeListItem($event.item, $event.categoryIndex)"
                      [content]="displayList"></app-display-list>
  </div>

  <!--  edit view  -->
  <ng-template #edit>
    <mat-list *ngFor="let category of displayList?.categoryItems" role="list">
      <mat-form-field class="full-width">
        <mat-label>Category</mat-label>
        <input [(ngModel)]="category.category" class="full-width" matInput>
      </mat-form-field>
      <mat-list-item *ngFor="let item of category.items"
                     role="listitem">
        <mat-form-field class="full-width" floatLabel="never">
          <input [(ngModel)]="item.details.title" class="full-width" matInput placeholder="Item title">
        </mat-form-field>
      </mat-list-item>
      <mat-form-field class="full-width" floatLabel="never">
        <input (keydown.enter)="addNewItem($event.target.value, category.index)" class="full-width" matInput
               placeholder="New Item">
      </mat-form-field>
      <mat-divider></mat-divider>
    </mat-list>
    <mat-form-field class="full-width" floatLabel="never">
      <input (keydown.enter)="addNewCategory($event.target.value)" class="full-width" matInput
             placeholder="New Category">
    </mat-form-field>
  </ng-template>
</app-sidebar>



